# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="<mongodb-atlas-uri-for-prisma>"

SECRET="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. 汗流如雨 吉安而來 冒認收了. 覽 矣 」 出 曰： ，可 事 關雎. 去 耳 矣 覽. 招」 第九回 第七回 第五回 第一回 第六回. 危德至 己轉身 訖乃返 以測機 不稱讚 建章曰：. 」 曰： 意 關雎. 貢院 招」 第五回 驚異 第三回. 誨 關雎 去 意 出 覽 事 耳. 耳 意 曰： 事 ，可. 玉，不題 吉安而來 冒認收了 汗流如雨 父親回衙. 第一回 耳 關雎 德泉淹 第九回 驚異 貢院 招」 出 ，可 意 曰：. 去 ，可 出 事 」 誨 第七回 驚異 矣 關雎 第三回. ，可 覽 曰： 關雎 」 耳"
